
.profileblock {
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.21);
    background: #e3f4f9;
    border-top: 1px solid #ccc;
    min-height: 300px;
    float: left;
    width: 100%;
    margin-bottom: 90px;
}

.how-it-work a.btn-common-color,
.settings .btn-success,
.form-group .btn-success,
.form-bottom .btn-success,
.block-tab .active,
.btnblock .btn-success,
.block-tab .btn-success.active:focus,
#registrationForm .btn-success,
#page .active .page-link,
#personal .switcher.default.is-active,
#contactsForm .btn-success {
    background-color: #24ce70;
    transition: .3s;
}

.block-tab .btn-success.active:hover,
#contactsForm .btn-success:hover,
.how-it-work .btn-common-color:hover,
.form-group .btn-success:hover,
.form-bottom .btn-success:hover,
.settings .btn-success:hover,
.btnblock .btn-success:hover,
.btn-common-color:hover,
.btn-common-color:focus,
.block-tab .btn:hover,
.btn.btn-success:hover,
#registrationForm .btn-success:hover,
#page .page-link:hover {
    background-color: #5cb85c;
}


.block-tab {
    text-align: center;
    margin-bottom: -1px;
}

.block-tab .btn {
    padding: 5px 35px;
    font-size: 18px;
    background: #ffffff;
    color: black;
    transition: .3s;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
    border-radius: 0;
    margin-left: -1px;
}

.block-tab .active {
    font-size: 18px;
    border: 1px solid #ccc;
    color: #fff;
    transition: .3s;
    background: #5cb85c;
}

.block-tab a.active {
    border-bottom: 1px solid transparent;
}

.block-tab .btn:hover {
    font-size: 18px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #2ecc71;
    color: #fff;
    transition: .3s;
    background: #24ce70;
}

.currency-block button {
    border: 1px solid #ccc;
}


/*REFILL STYLES*/

.wallet_block {
    border: 1px solid #2ed39d;
    padding: 10px 5px;
    margin: 15px auto;
    min-height: 70px;
}

.wallet_block .block_header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wallet_block .img-block {
    float: left;
    top: -25px;
    position: absolute;
    background: #e3f4f9;
    padding: 7px;
    ;
}

.wallet_block .img-block img {
    width: 27px;
    float: left;
    padding-top: 5px;
}

.wallet_block .img-block .title-block {
    padding: 8px 3px;
    display: inline-block;
    font-size: 13px;
}

.wallet_block .button-generate {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px
}

.wallet_block .wallet input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wallet_block .wallet_adress {
    margin-bottom: 0;
}

.wallet_block .wallet_adress .copy_address, .wallet_block .wallet_label .copy_address {
    border: 1px solid #2ecc71;
    padding: 6px;
    /*border-radius: 4px*/
}

.wallet_block .btn {
    padding: 6px 35px;
    margin-bottom: 1px; 
}

.wallet_block label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.wallet_block .wallet_adress .copy_address {
    border: 1px solid #2ecc71;
    padding: 7px 4px;
    /*border-radius: 4px;*/
    display: block;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    font-size: 13px;
}

.copy_address i {
    float: left;
    margin-top: 2px;
}

.fa.fa-files-o {
    display: none;
}

.text-success {
    color: #24ce70 !important;
}

/*Currency styles*/

.currency-block {
    border: 1px solid #ccc;
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

.top-currency {
    min-height: 50px;
}

.currency-wallets, .payments-block {
    width: 100%;
    float: left;
    clear: both;
    padding: 15px;
}

.button-generate button {

}

.el-load {
    position: absolute;
    top: 3px;
    z-index: 10;
    left: -1px;
    font-size: 9px; 
}

.pay-method {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 8px;
}

.pay-method img {
    max-width: 60px;
}

.exchange-block {
    text-align: center;
}

.block-list-calc {
    display: flex;
    padding: 20px;
}

.block-list-calc select {
    width: 60%;
}

.block-list-calc input {
    width: 40%;
}

/****************PAYMENT STYLES******************/

.recipient_block label {
    width: 100%;
}

.recipient_block {
    padding-right: 20px;
    position: relative;
}

.recipient_block i {
    position: absolute;
    top: 30px;
    right: -11px;
    font-size: 20px;
    cursor: pointer;
    color: red;
    z-index: 50;
}

.form-bottom button {
    margin-right: 40px;
}

.recipient_block .form-control {
    border-radius: 0;
    font-weight: 400;       
}

.error_block {
    overflow: hidden;
}

.error_block div {
    color: red;
    height: 35px;
    font-size: 10px;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

.recipient_block .warning {
    border-color: red;
}

.recipient_block .success_field {
    height: 0px;
    overflow: hidden;
    font-size: 0;
}

span.b_val {
    font-weight: bold;
}

/*Effects*/

.fields {
    transition: 0.5s;
}

.popup_background.show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc82;
    z-index: 1000;
}

.popup_wrap {
    margin: 180px auto 0 auto;
    width: 300px;
}

.popup_body {
    background: #fff;
    padding: 15px;
    border: 2px solid #ccc;
    min-height: 150px;
}

.popup_body span {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.popup_body input {
    border-radius: 0;
    margin-bottom: 15px;
}

.pattern-block {
    margin-top: 15px;
    float: left;
    width: 100%;
    min-height: 200px;
    -webkit-box-shadow: 0 0 32px #16324833;
    box-shadow: 0 0 32px #16324833;
    text-align: center;
}

.pattern-block h3 {
    margin: 0 0 5px 0;
    background: #ccc6;
    height: 40px;
    line-height: 40px;
}

.pattern-block p {
    min-height: 150px;
    padding: 5px;
}

.pattern-block button {
    margin: 15px;
}

.pattern-block input, .pattern-block textarea {
    background: none;
    height: 40px;
    width: 70%;
    padding: 0 5px;
    box-shadow: none;
    outline: none;
    border: none;
    float: left;
}

.pattern-block textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.pattern-block i {
    cursor: pointer;
    width: 15%;
    float: left;
    height: 40px;
    display: block;
    line-height: 40px;
    float: left;
    font-size: 24px;
}

.pattern-block h3 {
    text-align: center;
    position: relative;
}

.pattern-block .fa-pencil-square-o {
    position: absolute;
    right: 0;
    top: 0;
}

/*SELECT COMPONENT*/

.select-head {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px;
    position: relative;
    background: #fff;
}

.select-head .ar-el {
    float: right;
    height: 30px;
    line-height: 30px;
    display: block;
    cursor: pointer;
    width: 10%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0.5);
    margin-right: -6px;
    color: #555; 
}

.select-head .fa-sort-up.ar-el {
    line-height: 40px;
}

.select-head .fa-sort-down.ar-el {
    line-height: 24px;
}

.drop-menu.show {
    position: absolute;
    right: 0;
    left: 0;
    background: white;
    border: 1px solid #cccccc;
    top: 33px;
}
.drop-menu-control>span.btn-default{
    background: #24ce70;
    margin-top: 5px;
    color: white;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #ccc;
    outline: none;
    box-shadow: none;
    transition: .3s;
}
.drop-menu-control>span.btn-default:hover {
    background: #5cb85c;
}

.select-head .selected {
    font-size: 14px;
    width: 90%;
    height: 20px;
    border: none;
    padding-left: 12px;
}

/*pay_method label::before,
.amount-block::before {
    position: absolute;
    content: "\f107";
    font-family: FontAwesome;
    font-weight: 400;
    color: #33333a;
    font-size: 19px;
}*/

/*.pay_method label::before {
    right: 26px;
    top: 18%;
    z-index: 1;
}
*/
/*.amount-block::before {
    right: 26px;
    bottom: 4px;
    z-index: 1;
}
*/

.drop-menu {
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 100;
}

.drop-menu-option .drop-el {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
}

.drop-menu-option .drop-el:hover, .drop-menu-option .active {
    background: #ccc;
}

.drop-menu-option .drop-el:last-of-type {
    border: none;
}

.drop-menu-option {
    max-height: 249px;
    overflow-y: auto;
    border-bottom: 3px solid #24ce70;
}

.drop-menu-control .btn {
    width: 100%;
}

.select-wrap {
    position: relative;
}

.amount-block {
    display: flex;
    align-items: flex-end;
}

.amount-block label, .amount-block select {
    width: 50%;
    margin: 0;
}

.amount-block select, .amount-block input {
    height: 34px;
}

.pattern-wrap-block{
    margin-bottom: 23px;
}

.pattern-wrap-block > div:first-child {
    display: none;
}

.select-wrap {
    margin-top: 25px;
}

/*.select-wrap::after {
    content: url(../img/trash.png);
    width: 20px;
    height: 20px;
    display: inline-block;
}*/

.amount-block > label {
    width: 77%;
}

.amount-block > select {
    width: 23%;
}

.pay-title {
    margin: 0 0 20px 0;
    font-size: 42px;
    font-weight: 600;
    display: none;
}

.payment > div:first-child > div {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

.pay_method {
    margin-bottom: 18px;
}

.title_email {
    margin-bottom: 13px;
}

.currency-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;    
}

.currency-block > div:nth-child(2) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;    
}

.currency-block button {
    border: 1px solid #ccc;
}





.top-currency {
    margin-top: 10px;
    margin-left: 0; 
    margin-right: 0;    
}

/*Main-color*/

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #acc6d6;
}

/*.btn-common-color,
.switcher.default .textYes,
.switcher.default.is-active,
.block-tab .active
.block-tab .btn:hover,
.btn-success {
    
    background: #24ce70;
}*/

/*.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #24ce70;
}*/
.how-it-work a.btn-common-color,
.settings .btn-success,
.form-group .btn-success,
.form-bottom .btn-success,
.block-tab .active,
.btnblock .btn-success,
.block-tab .btn-success.active:focus,
#registrationForm .btn-success,
#page .active .page-link,
#personal .switcher.default.is-active,
#contactsForm .btn-success {
    background-color: #24ce70;
    transition: .3s;
}

.block-tab .btn-success.active:hover,
#contactsForm .btn-success:hover,
.how-it-work .btn-common-color:hover,
.form-group .btn-success:hover,
.form-bottom .btn-success:hover,
.settings .btn-success:hover,
.btnblock .btn-success:hover,
.btn-common-color:hover,
.btn-common-color:focus,
.block-tab .btn:hover,
.btn.btn-success:hover,
#registrationForm .btn-success:hover,
#page .page-link:hover {
    background-color: #5cb85c;
}

.btn {
    border-radius: 0;
    border: 0;
}

.currency-nav button {
    border: 1px solid #ccc;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    /*outline: 5px auto #127914;*/
    outline: 0;
}